body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
header{
  background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 16px 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.banner{
  width: 100%;
  height: 75vh;
  background: url("https://occ-0-2087-2164.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeyCGQqlTRmgAPD31wbNSXX_KcFNs3AAgrasNXAtb5dmTuoziVlSQOjx8uXBy6W6Rwx3OB6t43D34qdhCfZkma_zhyJm.jpg?r=069") top left;
  background-size: cover;
  position: relative;
  display:flex;
  align-items:center;
  background-attachment: fixed;
}
.banner:before{
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.line{
  width: 100%;
    height: 3px;
    background-color: #e8242e;
    border-radius: 0.25rem;
}
:focus{
  outline: 0!important;
}
.navbar-nav .nav-link{
  font-size: 1rem;
  color: #545454;
  font-weight: 600;
}
.navbar-nav .nav-link:hover{
  color: #e8242e
}
.contact{
  width: 100%;
  height: 75vh;
  background: #e9f9ff;
  background-size: cover;
  position: relative;
  display:flex;
  align-items:center;
  background-attachment: fixed;
  
}
footer{
  background: #d3d4e6;
  padding: 24px;
}
.legal-text-wrap{
  display: flex;
  justify-content: space-between;
 
}